<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dia do Cliente</title>

</head>

<body>

    <div class="container">

    <div class="header">

        <h1>🎉 Feliz Dia do Cliente!</h1>

    </div>


    <img src="Imagem1.png" alt="Imagem 1">

    <div class="content">

        <h2>Você é a nossa inspiração</h2>

        <p>Agradecemos pela sua confiança e parceria. Hoje é o momento de celebrar você, que faz parte da nossa história!</p>

        <p>Celebramos a sua confiança e parceria ao longo do tempo.</p>

        <div class="highlight">💙 Obrigado por fazer parte da nossa história</div>

    </div>

    <img src="Imagem2.png" alt="Imagem 2">

    <div class="content">

      <a href="https://brdticket.brdsoft.com.br/" class="btn">Abrir Ticket</a>

    </div>

    <div class="footer">

      &copy; 2025 BRDsoft - Todos os direitos reservados.<br>

      Rua Deputado Gonçalves, 123 - Itamonte/MG

    </div>

  </div>

  <div>

  </div>

</body>

</html>