@charset "UTF-8";

body {

    background-color: rgba(0, 128, 0, 0.205);
    font-family: Arial, Helvetica, sans-serif;

}

h1 {

    color: green;

}

h2 {

    color: rgb(73, 100, 71);

}

/* Alterando o alinhamento de um h1 específico pelo seu identificador "ID". */

h1#principal {

    background-color: green;
    color: #ffffff;
    text-align: center;

}

.basico {

    color: rgba(0, 128, 0, 0.671);
    font-weight: bold;

}

.intermediario {

    color: rgba(99, 99, 0, 0.719);

}

.avançado {

    color: rgba(255, 0, 0, 0.493);

}

.destaque {

    background-color: rgb(180, 180, 84);
    
}