@charset "UTF-8";

#titulo_tabela {

    text-align: center;

}

table {

    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 10px;

}

td, th {

    border: 1px solid lightgray;
    padding: 10px 20px;
    text-align: center;

}

form {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 0px 0px;

}

#div_form {

    display: flex;
    flex-direction: row;

}

#div_label {

    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: center;

}

#div_input {

    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: center;

}

label {

    padding: 5px 10px;

}

input {

    border: 1px solid rgb(165, 165, 165);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 4px 0px 0px 0px;

}

#button_form {

    margin: 10px;
    padding: 12px 25px;
    font: 400 1em cursive;
    border: none;
    border-radius: 10px;
    background-color: cornflowerblue;
    transition: 
    transform 0.4s ease-in-out,
    background-color 0.4s ease-in-out;

}

#button_form:hover {

    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(209, 230, 236);

}