@charset "UTF-8";

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.title {

    margin: 50px 0px;
    text-align: center;
    font-weight: 500;

}

.title-weigth {

    font-weight: 800;

}

/* SintaxeDoModelo */

.atributo {

    display: inline-block;
    padding: 20px;
    margin: 20px;

}

#atributo {

    background-color: lightcoral;
    border: 1px solid black;
    border-radius: 10px;

}

button {

    padding: 20px 45px;
    margin: 20px 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(67, 67, 250);
    font: 500 italic 1.3em monospace;
    cursor: pointer;

    transition: 
    
        background-color 0.4s ease-in-out,
        transform 0.4s ease-in-out

    ;

}

button:hover {

    background-color: rgb(158, 158, 250);
    transform: scale(1.1);

}

.div_form {

    display: flex;
    justify-content: center;
    align-items: center;

}

/* Propriedades Calculadas */

.div_resultado {

    margin-left: 50px;

}

.div_list {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;

}

.div_list_item {

    display: flex;
    flex-direction: column;
    margin: 0px 0px 40px 0px;

}

p {

    margin: 15px;

}

form {

    display: flex;
    flex-direction: column;
    align-items: center;

}

label {

    font: 500 italic 1.1em Arial;   

}

.input {

    padding: 12px 15px;
    width: 40%;

}

.input_form {

    padding: 12px 15px;
    margin: 5px 0px;
    text-align: center;

}

.input_list_1 {

    margin: 17px 10px 0px 0px;

}

.input_list {

    margin: 22px 10px 0px 0px;

}

.input_label {

    margin: 15px 0px 0px 0px;

}

#resultado_sucesso {

    margin-left: 50px;
    padding: 20px 30px;
    font: 500 italic 1.2em cursive;
    color: black;
    background-color: lightgreen;
    border-radius: 5px;

}

#resultado_erro {

    margin-left: 50px;
    padding: 20px 30px;
    font: 500 italic 1.2em cursive;
    color: black;
    background-color: lightcoral;
    border-radius: 5px;

}

/* Renderização Condicional. */

.div_nota {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 10px -20px;

}

.div_opcao_nota {

    display: flex;

}

.div_item {

    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6px;

}

.input_nota {

    margin: auto;
    margin-top: 10px;
    font: 500 italic 1.1em Arial;
    padding: 10px 20px;
    text-align: center;

}

.resposta_nota {

    font: 600 italic 1.3em cursive;
    text-align: center;

}

.div_show {

    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}

#paragrafo_show {

    display: flex;
    align-items: center;
    font: 600 italic 1.5em cursive;
    color: darkgreen;

}

/* Renderização de Lista. */

#div_carros {

    margin: 50px;

}

/* Usando Props. */

.paragrafo_props {

    margin: 20px 0px 0px 50px;

}